body {
  background-color: black;
  margin-top: 60px;
}
.btn {
  color: green;
  background-color: black;
  font-family: monospace;
  font-size: 23pt;
}
.display-2 {
  font-family: monospace;
  color: green;
}
h2, h1 {
  font-family: monospace;
  color: green;
}
.btn:hover {
  color: darkblue;
}
h1 {
  font-style:italic;
}